/* Fonts */

@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/kalameh/_Woff/KalamehWeb-Black.woff") format("woff");
}
@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/kalameh/_Woff/KalamehWeb-Bold.woff") format("woff");
}

@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/kalameh/_Woff/KalamehWeb-Regular.woff") format("woff");
}
@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/kalameh/_Woff/KalamehWeb\(FaNum\)-Black.woff")
    format("woff");
}
@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/kalameh/_Woff/KalamehWeb\(FaNum\)-Bold.woff")
    format("woff");
}
@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/kalameh/_Woff/KalamehWeb\(FaNum\)-Regular.woff")
    format("woff");
}
/* Variables */
:root {
  --dark-blue: #07101d;
  --orange: #ff3c00;
}

/* Default style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: kalameh;
  background-color: var(--dark-blue);
}

.pointer {
  cursor: pointer;
}

/* Navbar styles */

header::before {
  content: "";
  width: 904px;
  height: 876px;
  background-image: radial-gradient(#3d0d58 38%, #070f1c 0);
  position: absolute;
  filter: blur(84px);
  opacity: 0.4;
  right: -274px;
  top: -273px;
  z-index: -1;
}

.active-orange,
.active-orange:hover {
  color: var(--orange);
  border-bottom: 2px var(--orange) solid;
}

.btn-register,
.btn-register:hover {
  background-color: var(--orange);
}

/* Banner */
.banner-img {
  margin-top: 10%;
  scale: 1.1;
}
.banner-top-shape {
  position: absolute;
  top: 10%;
  right: 10%;
}

.banner-bottom-shape {
  position: absolute;
  left: -10%;
  bottom: 5%;
}

.user-counter-parent {
  width: 260px;
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(18px);
  position: absolute;
  right: 30%;
  bottom: 12%;
}
.banner-texts {
  padding-top: 10%;
  padding-right: 10%;
}
.banner-texts h1 {
  font-size: 55px !important;
}
.banner-texts h1 span {
  color: var(--orange);
}
.btn-help {
  background-image: linear-gradient(to right, #7011ad, #bc0505, #fc630f);
  height: 68px;
  width: 200px;
}
.search-box {
  border: 1px solid var(--orange);
  width: 395px;
  height: 68px;
}
.search-box .form-control {
  background: inherit;
}

.search-box-input:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

@media screen and (max-width: 768px) {
  .banner-texts h1 {
    font-size: 35px !important;
  }
  .banner-img {
    margin-top: 5%;
    scale: 1;
    position: relative;
    left: 15%;
  }
  .banner-texts {
    position: relative;
    left: 5%;
  }
  .banner-bottom-shape {
    left: 5%;
  }
  .user-counter-parent {
    right: 10%;
    background-color: rgba(255, 255, 255, 0.02);
  }

  header::before {
    width: 0;
  }
}

/* Wallet */
.wallet-box-parent {
  position: relative;
  width: 160px;
  height: 160px;
}

.wallet-box-parent::before {
  width: 161px;
  height: 161px;
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  background-color: rgba(255, 0, 0, 0.8);
  z-index: -1;
}

.wallet-box-parent::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: -21px;
  background: var(--dark-blue);
  width: 40px;
  height: 40px;
  border-left: 2px solid rgba(255, 0, 0, 1);
  z-index: 5;

  transform: rotate(44deg);
}

.wallet-box {
  width: 160px;
  height: 160px;
  background-color: var(--dark-blue);
  border: 0.001em solid rgba(255, 0, 0, 0.3);
}

.wallet-box-parent-blue::before {
  background-color: rgba(0, 81, 255, 0.808) !important;
}

.wallet-box-parent-blue::after {
  border-left-color: rgba(0, 81, 255, 1) !important;
}

.walet-box-blue {
  border: 0.001em solid rgba(0, 81, 255, 0.3);
}

.wallet-box-parent-purple::before {
  background-color: rgba(130, 18, 241, 0.8) !important;
}

.wallet-box-parent-purple::after {
  border-left-color: rgba(130, 18, 241, 1) !important;
}

.walet-box-purple {
  border: 0.001em solid rgba(130, 18, 241, 0.3);
}

.wallet-box-parent-pink::before {
  background-color: rgba(254, 0, 122, 0.8) !important;
}

.wallet-box-parent-pink::after {
  border-left-color: rgba(254, 0, 122, 1) !important;
}

.walet-box-pink {
  border: 0.001em solid rgba(254, 0, 122, 0.3);
}

.wallet-box-parent-yellow::before {
  background-color: rgba(255, 187, 13, 0.8) !important;
}

.wallet-box-parent-yellow::after {
  border-left-color: rgba(255, 187, 13, 1) !important;
}

.walet-box-yellow {
  border: 0.001em solid rgba(255, 187, 13, 0.3);
}

/* Hot bids */

.btn-bid {
  background-image: linear-gradient(to right, #7011ad, #bc0505, #fc630f);
  height: 60px;
  width: 200px;
}
.like-svg-parent {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(18px);
  width: 58px;
  height: 58px;
}
.timer-parent {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(18px);
  width: 170px;
  height: 58px;
}
.feature-parent {
  height: 240px;
  border: 1px solid #00ff1a;
  background-image: linear-gradient(
    107deg,
    rgba(0, 255, 26, 0.1),
    rgba(255, 255, 255, 0.1)
  );
}
.feature-parent-purple {
  border: 1px solid #5300ff !important;
  background-image: linear-gradient(
    107deg,
    rgba(8, 0, 225, 0.1),
    rgba(255, 255, 255, 0.1)
  ) !important;
}
.feature-parent-red {
  border: 1px solid #ff1f00 
  !important;
  background-image: linear-gradient(
    107deg,
    rgba(255, 31, 0, 0.1),
    rgba(255, 255, 255, 0.1)
  ) !important;
}

.svg-parent {
  margin-top: -13%;
  margin-right: 6%;
  width: 90px;
  height: 90px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(25px);
}

@media screen and (max-width: 992px) {
  .feature-parent{
    width: 80vw !important;
    margin-top: 25% !important;
  }
}




